<section>
<!--    <h2 class="page-title" data-bind="text: title"></h2>-->
    
    <div class="row">
        <div class="legend-row">
            <div class="legend light">Requests per second</div>
            <div class="hr"></div>
        </div>
     <div class="clear"></div>
    </div>
    <div class="col1Chart">
        <div class="text">View the number of requests completed at the moment and for the selected range within the last day .</div>
        <label id="requestNumber" class="label-value" >62</label>
    </div>
    <div class="col2Chart">
    </div>
    <div id="RequestChartContainer" class="col3">    
    </div>
    
    <div id="chartContainer" style="max-width:800px;height: 400px;" data-bind="dxChart: chartOptions"></div>

    
</section>