<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- One log file per day -->
    <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${basedir}/${shortdate}.log" />
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:MM\:ss} ${logger} ${message}">
      <highlight-row condition="level &gt;= LogLevel.Error and contains(message,'serious')" foregroundColor="White" backgroundColor="Red" />
      <highlight-row condition="starts-with(logger,'Example')" foregroundColor="Yellow" backgroundColor="DarkBlue" />
    </target>
    <target name="console2" xsi:type="ColoredConsole" layout="${date:format=HH\:MM\:ss} ${logger} ${message}">
      <highlight-row condition="level &gt;= LogLevel.Error and contains(message,'serious')" foregroundColor="White" backgroundColor="Red" />
      <highlight-row condition="starts-with(logger,'Example')" foregroundColor="Yellow" backgroundColor="DarkBlue" />
    </target>
    <target name="console3" xsi:type="ColoredConsole" layout="${date:format=HH\:MM\:ss} ${logger} ${message}">
      <highlight-word text="log" backgroundColor="DarkGreen" />
      <highlight-word text="abc" foregroundColor="Cyan" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>